.container {
	width: 100%;
	height: 100%;
	border-radius: 50% !important;
}

.button {
	width: 100%;
	height: 100%;
	color: rgba(255, 0, 0, 0.7);
	background: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	transition-timing-function: ease;
}

/* Conditional styling */
.buttonIfOn {
	color: rgba(0, 175, 0, 0.7);
}
