.container {
	width: 100%;
	height: 100%;
	grid-row-end: span 2;
	grid-column-end: span 3;
}

.wrapper {
	margin: 1rem;
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 0.5rem;
}

.name,
.buttonToggle {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.name {
	font-weight: bold;
	color: #aaa;
	text-transform: uppercase;
	grid-row-start: 1;
}

.buttonToggle {
	width: 4rem;
	height: 4rem;
	grid-row-start: 2;
}



.clockInputContainer {
	width: 100%;
	height: 100%;
	grid-row-end: span 2;
	grid-column-end: span 2;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.clockInputSeparator {
	position: absolute;
	left: 50%;
	height: 100%;
	line-height: 100%;
	width: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bolder;
}
