h1.header {
	width: 100%;
	height: 100%;
	grid-column-end: span 4;
	font-weight: 300;
	font-size: 2.3rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-shadow: none;
	background: transparent;
}

h2.subHeader {
	width: 100%;
	height: 100%;
	grid-column-end: span 4;
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-end;
	background: transparent;
	box-shadow: none;
}

div.logo {
	grid-column-start: 2;
	grid-row-start: 8;
	box-shadow: none;
	background: transparent;
}
