.container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.container__horizontal {
	grid-row-end: span 1;
	flex-direction: row;
}
.container__vertical {
	grid-column-end: span 1;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.content__horizontal {
	width: 0;
	flex-direction: column;
}
.content__vertical {
	height: 0;
	flex-direction: row;
}

.subHeader {
	margin: 0;
	color: #aaa;
	font-size: 0.75rem;
	text-transform: uppercase;
}

.optionsContainer {
	position: relative;
	display: flex;
	align-items: center;
	font-weight: bold;
}
.optionsContainer__horizontal {
	font-size: 1.5rem;
	flex-direction: row;
}
.optionsContainer__vertical {
	font-size: 2rem;
	flex-direction: column;
}

.option {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.option__vertical {
	/* No horizontal alignment
	 * on horizontal <Select/>
	 */
	justify-content: center;
}

.arrow {
	flex-shrink: 0;
	padding: 1rem;
}
.arrow__medium {
	padding: 1rem;
}
.arrow__small {
	padding: 0;
}