.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content > * {
    position: relative;
}

.ghostInput {
    border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 1rem;
    margin-bottom: 0.75rem;
}

.updateAvailableAlert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.updateAvailableAlert div:first-child {
    margin: 0 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionSpacer {
    height: 1.5rem;
}