.container {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
}

.containerIfIdle {
	display: none;
}

.text {
	margin: 2rem 0;
	font-size: 1.8rem;
}


.icon__spin {
	animation: icon__spin 2s infinite linear;
}

@keyframes icon__spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}