.container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.container__horizontal {
	flex-direction: row;
}

.container__vertical {
	flex-direction: column;
}

.fill {
	background: rgba(255, 255, 255, 0.7);
	border-bottom-left-radius: 1rem;
}

.fill__disabled {
	background: rgba(255, 255, 255, 0.55);
}

.fill__horizontal {
	height: 100%;
}

.fill__vertical {
	width: 100%;
	margin-top: auto;
}

.icon {
	position: absolute;
	color: #777;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon__horizontal {
	left: 0;
	margin-left: 1rem;
}

.icon__vertical {
	bottom: 0;
	margin-bottom: 1rem;
}