.container {
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.container__horizontal {
	grid-row-end: span 1;
	flex-direction: row;
}
.container__vertical {
	grid-column-end: span 1;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.content__horizontal {
	width: 0;
	flex-direction: column;
}
.content__vertical {
	height: 0;
	flex-direction: row;
}

.label {
	margin: 0;
	color: rgb(255, 255, 255, 0.55);
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
}

.optionsContainer {
	position: relative;
	display: flex;
	align-items: center;
}
.optionsContainer__horizontal {
	flex-direction: row;
}
.optionsContainer__vertical {
	flex-direction: column;
}

.option {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.option__vertical {
	/* No horizontal alignment
	 * on horizontal <Select/>
	 */
	justify-content: center;
}

.arrow {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
}