.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 0.5rem;
}


.leftContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.label {
	font-weight: bold;
	color: rgb(255, 255, 255, 0.55);
	text-transform: uppercase;
	text-align: center;
}

.buttonToggle {
	padding: 0.5rem;
	color: rgba(255, 255, 75, 0.7);
	border: 3px solid rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.clockContainer {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.clockInput {
	height: 100%;
}
.clockInput > * {
	height: 100%;
}

.clockInputSeparator {
	font-size: 2rem;
	font-weight: bolder;
}