.container {
	height: 100%;
	padding: 0 1rem;
	grid-column-end: span 4;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.text {
	position: relative;
	font-size: 1.8rem;
	white-space: nowrap;
	overflow: hidden;
	flex-shrink: 1;
	min-width: 0;
}

.buttonsContainer {
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.buttonsContainer > * {
	margin: 0.45rem;
}
