.container {
	height: 100%;
	padding: 0 1rem;
	grid-column-end: span 4;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.text {
	position: relative;
	font-size: 1.8rem;
	white-space: nowrap;
	overflow: hidden;
	flex-shrink: 1;
	min-width: 0;
}

.actionsContainer {
	flex-shrink: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
}

.action {
	min-width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

