.container {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(12px);
}

.content {
    margin: 0.5rem 2.5rem;
}